[Unit]
Description=Prometheus exporter for RabbitMQ server
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
Restart=always
User=prometheus
EnvironmentFile=/etc/default/prometheus-rabbitmq-exporter
ExecStart=/usr/local/bin/prometheus-rabbitmq-exporter

[Install]
WantedBy=multi-user.target
