services:
  vault:
    image: hashicorp/vault:1.20
    ports:
    - 8200:8200
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: SuperSecr3t

      VAULT_TOKEN: SuperSecr3t
      VAULT_ADDR: http://localhost:8200
    cap_add:
    - IPC_LOCK

networks:
  default:
    name: bookshelf
