services:
  vault:
    image: hashicorp/vault:1.20
    command: server -dev
    # entrypoint: vault # default entrypoint is for -dev only
    # command: server -config=/vault/config/vault-config.hcl
    ports:
    - 8200:8200
    volumes:
    # - ./config:/vault/config
    - vault_data:/vault/file
    cap_add:
    - IPC_LOCK

volumes:
  vault_data:

networks:
  default:
    name: bookshelf
